.nav-menu {
    display: flex;
    gap: 1rem;
}

.nav-toggle {
    display: none;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 0;
}

@media (max-width: 768px) {
    .nav-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background: rgba(0, 0, 0, 0.8);
        padding: 1rem;
        border-radius: 0 0 0 10px;
        z-index: 100;
    }

    .nav-menu.active {
        display: flex;
    }

    .nav-toggle {
        display: block;
        color: white;
    }
}

:root {
    --color-primary: #f754e1;
    --color-secondary: #cd47bb;
    --color-accent: #f754e1;
    --color-background: #000000;
    --color-text: #FFFFFF;
}

@keyframes gradientFlow {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(45deg, #000000, #1A1A1A, #2A2A2A);
    background-size: 400% 400%;
    animation: gradientFlow 15s ease infinite;
    color: var(--color-text);
    position: relative;
    margin-top: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.nav-button {
    position: relative;
    color: white;
    padding: 10px 20px;
    transition: all 0.3s ease;
}

.nav-button::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--color-primary);
    transition: width 0.3s ease;
}

.nav-button:hover {
    color: var(--color-primary);
}

.nav-button:hover::after {
    width: 100%;
}
.bar_menu{
    margin-top: 90px;
}
.title {
    text-align: center;
    color: whitesmoke;
    font-size: 36px;
    margin-bottom: 30px;
}
.category-title {
    color: #adadad;
    margin-top: 20px;
    text-align: center;
    font-size: 28px;
}
.category {
    margin-bottom: 20px;
    border-bottom: 1px solid #fcfcfc;
    padding-bottom: 10px;
}
.item {
    margin: 10px 0;
    color: #acacac;
    text-align: center;
    font-size: 18px;
}
@media (max-width: 600px) {
    body {
        padding: 10px;
    }
    .title {
        font-size: 28px;
    }
    .category-title {
        font-size: 24px;
    }
    .item {
        font-size: 16px;
    }
}



.footer {
    background: #1A1A1A;
    color: white;
    padding: 15px 0;
    text-align: center;
    margin-top: 50px;
    width: 100%;
    height: auto;
}

.social-icons a {
    margin: 0 10px;
    color: white;
    font-size: 24px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: var(--color-primary);
}

.copyright {
    font-size: 14px;
    margin-top: 10px;
}

.politic_inf a {
    color: white;
    transition: color 0.3s;
}

.politic_inf a:hover {
    color: var(--color-primary);
}